<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>码表</title>
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/mb.css">
</head>
<body>
<div class="box" id="app">
    <h1 class="title">安静的水</h1>
    <div class="list">
        <ul class="my-ul">
            <!-- <#list data?keys as key> -->
            <!-- <li> -->
            <!--     <ul class="zi-ul"> -->
            <!--         <#list data[key] as ele> -->
            <!--             <li>${ele}|</li> -->
            <!--         </#list> -->
            <!--         <li>${key}</li> -->
            <!--     </ul> -->
            <!-- </li> -->
            <!-- </#list> -->
            <li v-for="item,index in keyCode">
                <ul class="zi-ul">
                    <li v-for="kv in item">{{ kv.key }}</li>
                    <li>{{ index }}</li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<script src="./js/vue.min.js"></script>
<script>
    const vm = new Vue({
        el: '#app',
        data: {
            keyCode: [],
            singleBriefCodeMap: {},
            view: {
                '': '<青上>',
                '': '<着上>',
                '': '<美上>',
                '': '<反上>',
                '': '<有上>',
                '': '<失上>',
                '': '<罕上>',
                '': '<甬上>',
                '': '<告上>',
                '': '<昔上>',
                '': '<司外>',
                '': '<看上>',
                '': '<卷上>',
                '': '<竹头>',
                '': '<角上>',
                '': '<足旁>',
                '': '<仓下>',
                '': '<慕下>',
                '': '<当上>',
                '': '<尝上>',
                '': '<春上>',
            }
        },
        created() {
            // this.loadChangedComponent();
            this.loadSingleBriefCode();
            this.loadKeyMap();
        },
        methods: {
            async loadKeyMap() {
                fetch('../data/new_keymap.txt')
                    .then(res => res.text())
                    .then(data => {
                        let charCode = data.split("\r\n");
                        let keyMap = [];
                        for (let i = 0; i < charCode.length; i++) {
                            let char = charCode[i].split("\t");
                            let key = char[0];
                            if (key in vm.view) {
                                key = vm.view[key];
                            }
                            let code = char[1];
                            if (code && key) {
                                let obj = {
                                    key: key,
                                    code: code
                                };
                                keyMap.push(obj);
                            }
                        }
                        let groupedBy = {};
                        for (const item of keyMap) {
                            if (groupedBy[item.code]) {
                                groupedBy[item.code].push(item);
                            } else {
                                groupedBy[item.code] = [item];
                            }
                        }
                        // console.log(groupedBy)
                        // this.keyCode = groupedBy;
                        let codeArr = ['q', 'w', 'e', 'r', 't', 'y', 'u', 'i', 'o', 'p', 'a', 's', 'd',
                            'f', 'g', 'h', 'j', 'k', 'l', ';', 'z', 'x', 'c', 'v', 'b', 'n', 'm', ',', '.', '/'];
                        // groupedBy = groupedBy.sort((a, b) => {
                        //     return codeArr.indexOf(a) - codeArr.indexOf(b);
                        // });
                        // console.log(groupedBy)
                        fetch('../data/single_brief_code.txt')
                            .then(res => res.text())
                            .then(d => {
                                // console.log(d)
                                let briefCode = d.split("\r\n")
                                let briefCodeMap = []
                                for (let i = 0; i < briefCode.length; i++) {
                                    let arr = briefCode[i].split("\t");
                                    if (arr[0]) {
                                        briefCodeMap[arr[1]] = arr[0];
                                    }
                                }
                                console.log(briefCodeMap)
                                // this.singleBriefCodeMap = briefCodeMap;
                                let keyCode = {};
                                codeArr.forEach(item => {
                                    if (groupedBy[item]) {
                                        groupedBy[item].unshift({
                                            key: briefCodeMap[item],
                                            code: item
                                        })
                                    }
                                    // groupedBy[item].unshift(briefCodeMap[item])
                                    keyCode[item.toLocaleUpperCase()] = groupedBy[item];
                                });
                                console.log(keyCode)
                                this.keyCode = keyCode;
                            })
                    })
            },
            async loadSingleBriefCode() {
                fetch('../data/single_brief_code.txt')
                    .then(res => res.text())
                    .then(d => {
                        // console.log(d)
                        let briefCode = d.split("\r\n")
                        let briefCodeMap = []
                        for (let i = 0; i < briefCode.length; i++) {
                            let arr = briefCode[i].split("\t");
                            if (arr[0]) {
                                briefCodeMap[arr[1]] = arr[0];
                            }
                        }
                        console.log(briefCodeMap)
                        this.singleBriefCodeMap = briefCodeMap;
                    })
            },
            async loadChangedComponent() {
                fetch('../data/changed_components.txt')
                    .then(res => res.text())
                    .then(d => {
                        console.log(d);

                    })
            }
        }
    });


</script>
</body>
</html>